.settings/*
target/*
.classpath
.project
src/main/resources/META-INF/*
src/main/resources/archetype-resources/*
stanford-sentiment-enhancer/errors/*
stanford-sentiment-enhancer/.settings/*
stanford-sentiment-enhancer/.classpath
stanford-sentiment-enhancer/.project
stanford-sentiment-enhancer/logs/*
stanford-sentiment-enhancer/target/*
stanford-sentiment-enhancer/src/main/resources/stanford-corenlp-3.7.0-models.jar
*/stanford-corenlp-3.7.0-models.jar
logs/*

abstract-modules/.settings/*
abstract-modules/.classpath
abstract-modules/.project
abstract-modules/logs/*
abstract-modules/target/*

instagram-authors-scraper/.settings/*
instagram-authors-scraper/.classpath
instagram-authors-scraper/.project
instagram-authors-scraper/logs/*
instagram-authors-scraper/target/*

kickstarter_author_scraper/.settings/*
kickstarter_author_scraper/.classpath
kickstarter_author_scraper/.project
kickstarter_author_scraper/logs/*
kickstarter_author_scraper/target/*

linkedin-authors-scraper/.settings/*
linkedin-authors-scraper/.classpath
linkedin-authors-scraper/.project
linkedin-authors-scraper/logs/*
linkedin-authors-scraper/target/*

social-network-presence/.settings/*
social-network-presence/.classpath
social-network-presence/.project
social-network-presence/logs/*
social-network-presence/target/*

twitter-authors-scraper/.settings/*
twitter-authors-scraper/.classpath
twitter-authors-scraper/.project
twitter-authors-scraper/logs/*
twitter-authors-scraper/target/*

updates-comments-scrape/.settings/*
updates-comments-scrape/.classpath
updates-comments-scrape/.project
updates-comments-scrape/logs/*
updates-comments-scrape/target/*